* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url("img/mv.jpg");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 50px;
}

main {
  margin: 50px auto;
  width: 840px;
}

.headline {
  padding: 20px;
}

.service1 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 840px;
  border-bottom: 1px solid #d1d1d1;
}
.service2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 840px;
  border-bottom: 1px solid #d1d1d1;
}
.service3 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 840px;
  border-bottom: 1px solid #d1d1d1;
}
.service4 {
  margin-bottom: 30px;
  padding-bottom: 50px;
  width: 840px;
  border-bottom: 1px solid #d1d1d1;
}
